name: custom ci pipeline

on:
  push:
    branches: [ "master"]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test
        run: mvn test

      - name: Build
        run: mvn package 

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
           name: application1
           path: target/*.war
