name: Java CI

on:
  push:
    branches: [master]
  pull_request: 
    branches: [master]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Clean
        run: mvn clean

      - name: Test
        run: mvn test

      - name: Build
        run: mvn package

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          # Artifact name
          name: java Artifact # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: target/*.war

